* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header{
  background: linear-gradient(
    183deg,
    rgba(108, 148, 255, 0.92) 5%,
    rgba(0, 0, 0, 0.92) 80%
  );
  height: 8vh;
}
header h1 {
  font-size: 15px;
}
header h1 a {
  font-size: 20px;
}
header h1 span:nth-child(2) {
  text-decoration: underline;
}
.navbar{
  height:10vh;
}
.logo{
  width:10rem;
}
.navbar a{
  color:#ffff;
  font-size: 14px;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar button{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.navbar a{
  margin:0 1vw;
}
#navbarNav > .translate-middle-x {
  transform: translateX(-11%) !important;
}

#navbarNav > .start-50 {
  left: 33% !important;
}
.offcanvas-body .navbar-nav .nav-item .nav-link{
  color:black;
}
#Slider{
  height:100vh;
  width:100%;
  overflow-y: scroll;
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
}
#Slider1{
  height:100vh;
  width:100%;
  overflow-y: scroll;
}
.bg-black{
  background:black;
}
.black-thin{
  background:rgba(0, 0, 0, 0.7);
  height:100%;
  width:100%;
}
.page{
  height:100vh;
  scroll-snap-align:start;
}
.txt{
  text-align: center;
  overflow: visible;
  transform:translateY(10vh);
  -webkit-transform:translateY(10vh);
  -moz-transform:translateY(10vh);
  -ms-transform:translateY(10vh);
  -o-transform:translateY(10vh);
}
.txt1{
  text-align: center;
  overflow: visible;
  transform:translateY(15vh);
  -webkit-transform:translateY(15vh);
  -moz-transform:translateY(15vh);
  -ms-transform:translateY(15vh);
  -o-transform:translateY(15vh);
}
.font-size-1{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.font-size-2{
  font-size: 13px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}
.font-size-small{
  font-size: 15px;
}
.footer .font-size-3{
  margin:0 15px;
}

#Slider video{
  height:auto;
  width:100%;
}
.h-btn{
  transform:translateY(52vh);
  -webkit-transform:translateY(52vh);
  -moz-transform:translateY(52vh);
  -ms-transform:translateY(52vh);
  -o-transform:translateY(52vh);
}
#Slider .page .btn{
  width:20vw;
}
.h-btn1{
  transform:translateY(42vh);
  -webkit-transform:translateY(42vh);
  -moz-transform:translateY(42vh);
  -ms-transform:translateY(42vh);
  -o-transform:translateY(42vh);
}
.d-flex > a{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14px;
  font-weight:500;
}

@keyframes txtA{
  0%{
    margin-top:5vh;
    opacity:0;
}
  100%{
    margin:0vh;
    opacity:1;
}
}
.page1:nth-child(2){
  height:120vh;
}
.page1:nth-child(2) div{
  margin-top: 10vh;
}
.page1:nth-child(2) div h1{
  font-family:sans-serif;
  font-weight:bold;
  text-align: center;
  font-size:30px;
  color:#ffff;
  animation:txtA 4s;
}
.page1:nth-child(4){
  height:140vh;
}
.page1:nth-child(5){
  height:180vh;
}
.page1:nth-child(7){
  height:140vh;
}
.Padding1{
  padding:2vh 0vw 0vh 10vw;
}
.Padding2{
  padding:2vh 8vw 0vh 0vw;
}
.vd5{
  transform: scaleX(2);
  -webkit-transform: scaleX(2);
  -moz-transform: scaleX(2);
  -ms-transform: scaleX(2);
  -o-transform: scaleX(2);
}
.wid{
  width:75%;
}
.disp-grid{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.txt-align{
  transform:translateY(15vh);
  -webkit-transform:translateY(15vh);
  -moz-transform:translateY(15vh);
  -ms-transform:translateY(15vh);
  -o-transform:translateY(15vh);
}
.move{
  transform: translate(10vw,20vh);
  -webkit-transform: translate(10vw,20vh);
  -moz-transform: translate(10vw,20vh);
  -ms-transform: translate(10vw,20vh);
  -o-transform: translate(10vw,20vh);
}
.moveD{
  transform: translateY(30vh);
  -webkit-transform: translateY(30vh);
  -moz-transform: translateY(30vh);
  -ms-transform: translateY(30vh);
  -o-transform: translateY(30vh);
}
.moveC{
  border-top: 3px solid black;
  width:100%;
}
.ExtDesign{
  column-gap: 10vw;
  margin:5vh 10vw;
}
.btns{
  transform: translateY(20vh);
  -webkit-transform: translateY(20vh);
  -moz-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  -o-transform: translateY(20vh);
}
.btns button{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.specs{
  transform:translate(5vw,10vh);
  -webkit-transform:translate(5vw,10vh);
  -moz-transform:translate(5vw,10vh);
  -ms-transform:translate(5vw,10vh);
  -o-transform:translate(5vw,10vh);
}
.specs2{
  position: absolute;
  top:10%;
}
.tab-content span div{
  border-top:2px solid rgb(217, 214, 214);
  width:25%;
}
.move-20{
  transform: translateY(20vh);
  -webkit-transform: translateY(20vh);
  -moz-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  -o-transform: translateY(20vh);
}
.mapImage{
  height:90vh;
  transform:translateY(5%);
  -webkit-transform:translateY(5%);
  -moz-transform:translateY(5%);
  -ms-transform:translateY(5%);
  -o-transform:translateY(5%);
}